@font-face {
    font-family: raleway-italic;
    src: url(/font/Raleway-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: raleway;
    src: url(/font/Raleway-VariableFont_wght.ttf);
}

body {
    background-image: url(background.jpg);
    background-size: cover;
    font-family: raleway;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 100px;
}

.tabela {
    display: flex;
    height: 300px;
    width: 500px;
    border-top: 100px;
    border: double black 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    color: #24b041;
    padding: 30px;
    
}

.container_formulario {
    display: flex;
    background-color: rgba(0, 0, 0, 0.85);
    color: #24b041;
    justify-content: space-between;
    text-align: center;
    border: double black 5px;
    border-radius: 10px;
    padding: 50px;
}


.formulario input {
    height: 15px;
    width: 80%;
    border-radius: 9px;
}

.btn_adicionar {
    width: 120px;
    height: 30px;
    border-radius: 9px;
    background-color: #146324;
    color: white;
    border: white solid 1px;
    font-family: raleway;
    font-size:medium;
}

.tabela img {
    width: 15px;
    height: 20px;
    padding-top: 10px;
}

table {
    width: 100%;
    text-align: center;
}

thead {
    color: #24b041;
}

td {
    color: white;
}

table .th1 {
    text-align: left;
}
